.tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0;
  }

.tech a {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 3em 3em 0 0;
}

[href*="vitejs.dev"] {
    background: url(./vite.svg) no-repeat 100%;
}

[href*="react.dev"] {
    background: url(./react.svg) no-repeat 100%;
}

[href*="stately.ai/docs/xstate"] {
    background: url(./xstate.svg) no-repeat 100%;
    background-size: 2.5em;
}

@media (prefers-color-scheme: dark) {
    [href*="stately.ai/docs/xstate"] {
        background: url(./xstate-white.svg) no-repeat 100%;
        background-size: 2.5em;
    }
}